@import url('https://fonts.googleapis.com/css2?family=Italiana&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

body {
    font-family: "zen+KakuGothic+Antique", system-ui;
    background-color: #EBE8DB;
    margin: 0;
    padding: 0;
}

/*　パンくずリスト　*/
div#bread{
    margin: 25px 0 0 15px;
    display: flex;
}
div#bread p{
    margin: 0 0 15px 0;
    color: #605252;
    font-weight: bold;
}
div#bread p.breadText{
    margin: 0 1rem 0 1rem;
    transition: 0.2s;
}
div#bread p.breadText:hover{
    opacity: 0.7;
    border-bottom: #605252 solid 1px;
}
div.enterUpdateUserProfile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
div.updateProfile_Text{
    background-color: #fefeed;
    border: #605252 5px;
    border-style: solid none;
    margin: 0 0 2% 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
div.updateProfile_Text svg{
    margin: 0 0 0 5%;
}
div.updateProfile_Text h1 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-indent: 1.2rem;
}

div.enterUpdateUserProfile{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
}

div.updateProfile_img{
    margin: 5% 0 0 0;
}

div.profile_img{
    display: flex;
    align-items: center;

}
div.profile_img img{
    border-radius: 50%;
}

div.profile_img svg {
    margin-left: 20px;
    margin-right: 20px;
}
button#btn_imgUpdate{
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border-radius: 99px;

    font-weight: bold;
}
div#form{
    margin: 80px 2% 120px 10%;

}
div#form form label{
    /*margin: 0 0 25px 1rem;*/
}
label#Name{
    font-size: 1.5rem;
}
div#form input{

    width: 500px;
    margin: 5px 0 20px 0;
    padding: 10px 20px 10px 40px;
    border: black solid 2px;
    border-radius: 5px;
}

div#form button {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    border: #000 solid 2px;
    border-radius: 30px;
    margin:  30px auto;
    color: #EBE8DB;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #605252;
    box-shadow:3px 3px 0 #605252;
    transition: box-shadow 0.2s;
}
div#form button:hover{
    box-shadow: 0 0 0 #605252 ;
    opacity: 0.7;
}

div#form button#resetPF{
    background-color: #EBE8DB;
    color: #605252;
    font-size: 1rem;
    border: #8e7560 solid 2px;
}


@media(max-width: 1500px) {
    div.enterUpdateUserProfile{
        flex-direction: column;
        justify-content: center;
    }
    
}