body {
    margin: 0;
    padding: 0;
}

span#btn{
    position: sticky;
    top: 90%;
    left: 87%;
}

span#btn button{
    padding: 10px 30px;
    border-radius: 20px;
}

div.confirm{
    width: 700px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 120px;
    margin-bottom: 90px;
    padding-bottom: 90px;
    border-bottom: 2px solid #000;
}
div.confirm svg{
    margin-right: 20px;
}

div.confirm p {
    font-size: 2rem;
}

div.rightbar{
    margin-top: 130px;
    margin-left: 80px;
    width: 600px;
    height: 1000px;

}

div.rightbar h2{
    text-align: center;
    font-size: 3rem;
}

div.rightbar_flex{
    flex-direction: column;
    margin-left: 30px;
}

div.rightbar_product{
    display: flex;
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 30px;
}

div.rightbar_product_text{
    margin-left: 20px;
}

div.rightbar_product_text p{
    font-size: 30px;
}