body {
    margin: 0;
    padding: 0;
    background-color: #EBE8DB;
}

/*　パンくずリスト　*/
div#bread{
    margin: 25px 0 0 15px;
    display: flex;
}
div#bread p{
    margin: 0 0 15px 0;
    color: #605252;
    font-weight: bold;
}
div#bread p.breadText{
    margin: 0 1rem 0 1rem;
    transition: 0.2s;
}
div#bread p.breadText:hover{
    opacity: 0.7;
    border-bottom: #605252 solid 1px;
}


div.paidText h2#PNtitle{
    margin: 0 0 50px 0;
    padding: 10px 0;
    text-indent:3rem;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    color: #EBE8DB;
    background-color: #8e7560;
}

div.listing{
    width: 90%;
    margin: 0 auto 50px auto;
}
div.listing_product {
    /*border: black 1px solid;*/

    display: flex;
    flex-wrap: wrap;
    background-color: white;

}
div.product{
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    border: #D0C7B2 1px solid;

}

div.product_text{
    width: 50%;
    margin: 0 0 0 5%;

}

div.product_text p {
    font-size: 1.5rem;
}

div.listingText {
    word-break: break-all;
    width: 50%;
    padding: 20px;
    /*border: black 1px solid;*/

}
div.listingText h3{
    font-size: 1.5rem;
}

div.listingText p {
}

@media screen and (max-width: 1350px){
    div.listing{
        width: 95%;
        margin: 0 auto 50px auto;

    }
    div.listing_product{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        background-color: #EBE8DB;
    }
    div.product{
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
}

p#msg_noData{
    margin: 0 auto;
    font-size: 2rem;
    color: #605252;
    padding: 12%;
}
/*1列*/
@media screen and (max-width: 1000px){
    div.listing{

    }
    div.listing_product{
        flex-direction: column;
        justify-content: center;
    }
    div.product{
        margin: 0 auto;

    }
}
