body {
    margin: 0;
    padding: 0;
    background-color: #D0C7B2;
}

span#btn{
    position: sticky;
    top: 90%;
    left: 87%;
}

span#btn button{
    opacity: 0.7;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #605252;
    color: white;
    font-weight: bold;

}


div.paidText h2#PNtitle{
    margin-top: 50px;
    /*margin-bottom: 100px;*/
    padding: 25px 0;
    text-align: center;
    font-size: 2rem;
    background-color: #8e7560;
}

div.listing{
    display: flex;
    margin: 25px 25px;
    background-color: white;
}
div.listing_product {
    display: flex;
    margin-bottom: 20px;
}
div.product{
    width: 400px;
    padding: 20px;
    display: flex;
    margin-left: 20px;
    margin-right: 10px;
}

div.listingText {
    word-break: break-all;
    width: 300px;
    padding: 20px;
}
div.listingText h3{
    font-size: 1.5rem;
}

div.listingText p {
}

div.product_text{
    margin-left: 10px;
}

div.product_text p {
    font-size: 30px;
}