body {
    margin: 0;
    padding: 0;
}

div #wrap{
    width: 1440px;
    height: 3365px;
}

main{
}

div.content{
    margin-top: 110px;
    margin-bottom: 100px;
}

div.content h2{
    text-align: center;
    /*font-family: "JetBrains Mono";*/
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div#kamera{
    position: relative;
    margin: 20px auto;
    width: 377px;
    height: 377px;
    flex-shrink: 0;
    background: #D9D9D9;
    margin-bottom: 80px;

}

div#kamera img{
    position: absolute;

}

div.content div#drop{
}

div.content h3{
    margin-top: 40px;
    margin-left: 658px;
    /*margin-bottom: 33px;*/
}
div.content .txtInput{
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 30px;
    border-radius: 20px;
}

div.content h3.kakaku {

    margin-left: 658px;
}

input{
    padding: 30px 30px;
}


input::placeholder{
    padding:2px 0 0 2px;
    font-size: 20px;
}
table#kategory{
    margin-left: 660px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
}

div.btn{
    width: 400px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 120px;
}

div.btn button{
    padding: 10px 50px;
    margin-left: 30px;
}