body {
    margin: 0;
    padding: 0;
}


div.top_main {
    width: 760px;
    height: 90vh;
    margin: 0 auto;
    margin-left: -80px;
    margin-top: 100px;
    justify-content: space-between;
}


.slideshow {
    flex: 8;
    width: 800px;
    height: 500px;
    margin-bottom: 10px;
}

.slideImage{
    width: 100%;
    height: auto;
}

.each-slide-effect {
    width: 800px;
}

.each-slide-effect > div {
    border-radius: 20px;
    display: flex;
    width: 760px;
    height: 550px;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;

}
