body {
    margin: 0;
    padding: 0;
    background: #EBE8DB;
}
main#CUmain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: 2% 0 2% 0;
}
span#btn{
    position: sticky;
    top: 90%;
    left: 87%;
}

span#btn button{
    padding: 10px 30px;
    border-radius: 20px;
}

div#confirms{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin: 0 0 0 -120px;*/
}

div.confirm{
    display: inline-flex;
    flex-direction: row;
    width: 90%;
    /*pixelにするなら650~700ぐらい*/

    margin: 30px 0 30px 10%;
    padding: 15px 30px;
    border-radius: 30px;
    /*border: 2px solid #000;*/
    box-shadow:10px 10px 0  #0008;
    transition: 0.2s;
    background-color: #fefeed;

}
div.confirm:hover{
    box-shadow: 0 0 #0002;
    padding: 12px 22px;
    opacity: 0.7;
    /* ボーダーのアニメーションあるとプルプルするから無い方が良いかも～ */
    /*border: #000000 3px solid;*/
}

div.confirm#fav{
    background-color: #605252;
}

div.confirm svg{
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
div.confirm#fav svg,div.confirm#fav p{
    color: #fff;
}
div.confirm_text{
    margin: auto;
    vertical-align: center;
}

div.confirm p {
    font-size: 2rem;
}
div.confirm p#getPoint{
    margin:5px 0;
    font-size: 2.2rem;
    text-align: center;
}
div.confirm p#pointHst{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #605252;
}





div.rightbar{
    width: 40%;
    height: 100%;
    margin: 10px 40px 10px 0;
    padding: 20px;
    border-radius: 30px;
    box-shadow:10px 10px 0  #0008;
    background: #ffffff;

}

div.rightbar h2{
    text-align: center;
    font-size: 3rem;
}

div.rightbar_flex{
    flex-direction: column;
    margin-left: 30px;
}

div.rightbar_product{
    display: flex;
    margin: 30px 30px 0 30px;
}

div.rightbar_product_text{
    margin-left: 20px;
}

div.rightbar_product_text p{
    font-size: 1.2rem;
}