@import url('https://fonts.googleapis.com/css2?family=Italiana&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #D0C7B2;
    overflow-x: hidden;
}

div.flower_img{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: -1px;
    z-index: -1;
    opacity: 0.5;
}

header{
    font-size: 1.5rem;
    display: block;
}
header h1{
    margin: 50px 0 20px 0;
    display: block;
    text-align: center;
    font-family: "Italiana", sans-serif;
    letter-spacing: 6px;
    font-size: 4rem;
}

section{
    width: 800px;
    margin-top: 4%;
    margin-left: 36%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


div#bgwhite{
    display: flex;
    width: 40%;
    height: fit-content;
    background: #e5e5e5;
    border: #000000aa 3px solid;
    border-radius: 10px;
    margin: 0 auto;
    padding-bottom: 35px;
    box-shadow: #000000cc 0 0 10px;
    margin-top:20px ;


}


div#form{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}
form{
}

div#form h2{
    margin-top: 20px;
}

form input{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #cdcdcd;
    margin: 0 0 20px 0;
}
form input :last-child{
    margin-bottom: 50px;
}
form button{
    display: block;
    padding:5px 20px 5px 20px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #000000aa;
    border-radius: 10px;
    margin: auto;
}

/*　slick設定　*/
.slick-track{
    display: flex;
}
.slick-slide{
    height: auto;
}


/*スライドショーの設定*/
/*スライドショーの親のDIVの設定*/
.Slideshow{
    width: 730px;
    height: 500px;

    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);

}

/*スライドされる画像の設定*/
.each-slide-effect  div {

    display: flex;
    align-items: center;
    justify-content: center;
    width:700px;
    height: 500px;
    border-radius: 20px;
    background-size:730px 500px;
}

div .slide_img{
    width: 100%;
}


.each-slide-effect {

}
