body {

    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    display: -webkit-flex;
    display: inline-block;
    width: auto;
}
header div.nav {
    margin-top: 30px;
    display: flex;
    align-items: center;

}

header div.title h1 {
    font-family: "Italiana", sans-serif;
    font-size: 3.2rem;
    font-weight: normal;
    letter-spacing: 5px;
    width: 200px;
    margin-left: 80px;
}
header div.title h1:hover{
    text-decoration: underline 1px solid;
}


div.bar{
    /*width: 400px;*/
    margin-left: 200px;
}

header div.bar ul {
    display: -webkit-flex;
    display: flex;
    width: 1200px;
    list-style: none;
    margin-right: 320px;
    font-size: 1rem;
}

/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 100 to 800*/
div.bar ul li {
    position: relative;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 30px;
}

div.bar ul li p#category{
    position: relative;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 30px;
    margin-top: 3px;
}

li#search{
    text-align: center;
}
li#search svg{
    margin:5px 0 0 0;
}
/*オンマウスでほんのり色づく*/
div.bar ul li:hover{
    /*background-color: #D0C7B2;*/
    text-shadow: 0 0 30px #BF9E80 ,0 0 20px #D0C7B2,0 0 15px #D0C7B2;
}

p#usernameGet{
    width: 8rem;
}

p#name{
    width: 120px;
    margin-left: 74px;
}

.bell{
    position: absolute;
    top: 0%;
    right: 80px;
    width: 40px;
    border: none;color: #000000;
}
.bell svg{
    color: #8e7560;
}
.modal-content{
    width: 500px;
    height: 500px;
    background-color: #e5e5e5;
    border: 5px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: 14%;
    right: 4%;
    overflow-y: auto;
    overflow-x: hidden;
}

/*デフォルトで下線部がついていたのでそれを消す設定*/
.modal-title{
    border-bottom: none;

    }

/*タブの設定*/
.modal-title-tab {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
/*選択されたときに動く下線部の設定*/
.css-1aquho2-MuiTabs-indicator{
    background-color: #000;
    height: 1.3px;

}
/*選択されたものの背景色と文字の色設定*/
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: black;
    background-color: #D0C7B2;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected label{
    color: #D9D9D9;
}

.MuiTabs-indicator{
}
.css-1aquho2-MuiTabs-indicator{
    display: none;
}

    /*タブの項目自体の幅の設定今回はモーダル全体で500px指定で項目は二つなので一つの項目の幅を250pxにして半分になるようにしました。*/
.modal-title-tab-text{
    width: 250px;
}
/*お知らせの右に仕切りの意味でボーダーを追加しました。*/
.modalborder{
    border-right: 2px solid #000000;
}

/*お知らせ内容についてのＣＳＳ*/
.alert{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

.alert svg{
    margin-left: 30px;
    padding-bottom: 10px;
}

div.bar ul span#short_line {
    font-size: 1.5rem;
    content: "";
    width: 80px;
    height: 40px;
    margin-top: 3px;
    margin-left: 30px;
    margin-right: -70px;
    align-items: center;
    border-left: 1px solid #000000; /*線の設定*/ /*余白の設定*/;
}

div.bar ul span p#short_text {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-left: -20px;
    width:50px;
}


div.bar ul span.long_line {
    content: "";
    width: 20px;
    height: 70px;
    margin-top: 1px;
    margin-left: 70px;
    margin-right: -20px;
    margin-bottom: 5px;
    align-items: center;
    border-left: 1px solid #000000; /*線の設定*/ /*余白の設定*/;
}
#uru_ul{
    width :100px;
    align-items: center;
    padding-left: 45px;

}
#uru{
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    margin: 20px 0 0 10px;
    text-align: center;
}


span.under_bar {
    display: block;
    content: "";
    width: 99.5%;
    margin-top: -1px;
    height: 11px;
    border-bottom: 1px solid #000000;
}