body {
    margin: 0;
    padding: 0;
}
header {
    display: -webkit-flex;
    display: inline-block;
    width: 100%;
}

header div.nav {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;

}

header div.title h1 {
    font-size: 3rem;
    width: 200px;
    margin-left: 100px;
}
div.bar{
    width: 400px;
    margin-left: 170px;
}

header div.bar ul {
    display: -webkit-flex;
    display: flex;
    width: 950px;
    list-style: none;
    font-size: 1rem;
}


div.bar ul li {
    position: relative;
    font-size: 1.5rem;
    margin-left: 30px;
}

.bell{
    position: absolute;
    top: 0%;
    left: 20px;
    width: 40px;
    border: none;color: #000000;
}
.modal-content{
    width: 500px;
    height: 500px;
    background-color: #e5e5e5;
    border: 5px solid #fff;
    position: absolute;
    top: 14%;
    right: 4%;
    overflow-y: auto;
    overflow-x: hidden;
}

/*デフォルトで下線部がついていたのでそれを消す設定*/
.modal-title{
    border-bottom: none;

    }

/*タブの設定*/
.modal-title-tab {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
/*選択されたときに動く下線部の設定*/
.css-1aquho2-MuiTabs-indicator{
    background-color: #000;
    height: 1.3px;

}
/*選択されたものの背景色と文字の色設定*/
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: black;
    background-color: #D0C7B2;
}

/*タブの項目自体の幅の設定今回はモーダル全体で500px指定で項目は二つなので一つの項目の幅を250pxにして半分になるようにしました。*/
.modal-title-tab-text{
    width: 250px;
}
/*お知らせの右に仕切りの意味でボーダーを追加しました。*/
.modalborder{
    border-right: 2px solid #000000;
}

/*お知らせ内容についてのＣＳＳ*/
.alert{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

.alert svg{
    margin-right: 30px;
    padding-bottom: 10px;
}

div.bar ul span#short_line {
    font-size: 1.5rem;
    content: "";
    width: 80px;
    height: 40px;
    margin-top: 3px;
    margin-left: 30px;
    margin-right: -70px;
    align-items: center;
    border-left: 1px solid #000000; /*線の設定*/ /*余白の設定*/;
}

div.bar ul span p#short_text {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: -20px;
    width:50px;
}


div.bar ul span.long_line {
    content: "";
    width: 20px;
    height: 70px;
    margin-top: 1px;
    margin-left: 70px;
    margin-right: -20px;
    margin-bottom: 5px;
    align-items: center;
    border-left: 1px solid #000000; /*線の設定*/ /*余白の設定*/;
}
#uru_ul{
    width :100px;
    align-items: center;
    padding-left: 45px;
}
#uru{
    display: flex;
    margin-top: -20px;
    width: 90px;
}


span.under_bar {
    display: block;
    content: "";
    width: 99.5%;
    margin-top: -1px;
    height: 11px;
    border-bottom: 1px solid #000000;
}