body {
    margin: 0;
    padding: 0;
}

div.toppageMain{
    margin-left: -20px;
}

div.slideshow p{
    font-size: 3rem;
    text-align: center;
    width: 800px;
    height: 600px;
}

hr#slideshow_line{
    display: flex;
    width: 108%;
    margin-left: -40px;
}
div.new_Prodct{
    display: block;
    width: 800px;
    height: 100vh;
    margin:  0 auto;
    background-color: antiquewhite;
}

div.new_Prodct h2{
    margin-top: 100px;
    text-align: center;
}
