body {
    margin: 0;
    padding: 0;
}

div.toppageMain{
    margin-left: 80px;
}

div.slideshow p{
    font-size: 3rem;
    text-align: center;
    width: 800px;
    height: 600px;
}

hr#slideshow_line{
    display: flex;
    width: 120%;
    margin-left: -110px;
}
