body {
    margin: 0;
    padding: 0;
}

/*チャット*/
div#chat{
    display: flex;
    flex-direction: row;
    margin: 50px auto 50px 50px;
    width: 80%;
    height: 150px;
    background: #D9D9D9;
    border: #AAA solid 2px;
    overflow-y: auto;
}
input[type=text]#msg{
    margin: 10px;
    width: 80%;
    height: 50px;
    border-style: none none solid none;
}

/* アイコン*/
div#chat img{
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 100%;
}


/* 送信ボタン仮設　作るにしてもアイコンにした方がいいかも */
input[type=submit]{
    height: 50px;
    width: 50px;
    margin: 10px;
    color: white;
    font-weight: bold;
    background-color:#aaa;
    border: #555 2.5px solid;
    border-radius: 10px;
}


/*画像にしてみた*/
button{
    height: 50px;
    margin: 10px;
    border: #555 2px solid;
}
button img#sendMsg{
    height: 30px;
    width: 30px;
    background-color: #fff0;
    border-radius: 0;
}
