body {
    margin: 0;
    padding: 0;
}

span#btn{
    position: sticky;
    top: 90%;
    left: 87%;
}

span#btn button{
    padding: 10px 30px;
    border-radius: 20px;
}
div#point_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.confirmPointMain{
    width: 100%;
    align-items: center;
    margin: 17% 0 13% 3%;
    padding-bottom: 90px;
}

div.confirmPoint{
    display:flex;
    align-items:center;
    margin-bottom: 20px;
}



div.confirm svg{
    margin-right: 20px;
}

div.confirm p {
    font-size: 2rem;
}


div.recommend_products{
    width: 700px;
    /*margin-left: -23px;*/
}
div.recommend_products img{
    width: 170px;
    height: 170px;
    object-fit: fill;
}

div.recommend_products h2 {
    margin-top: 50px;
    font-size: 1.5rem;
    text-align: center;
}


div.recommend_product{
    width: 100%;
    display: flex;
    margin-top: 20px;
}


div.product{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    margin-left: 2%;
    padding: 1.7% ;
}

div.rightbar_product_text{
    margin-left: 20px;
}

div.rightbar_product_text p{
    color: #000;
    font-size: 1.2rem;
}


div.rightbarPoint{
    width: 45%;
    height: 40%;
    margin: 10% 2% 0 5% ;
    margin-bottom: 20px;
}

div.rightbarPoint h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 7%;
}


div.confirm_text{
    margin-left: 10%;
    font-size: 1.8rem;
}

div.rightbar_note {
    width: 70%;
    height: 40%;
    padding-left: 2%;
    margin-left: 6%;
    /*background-color: aqua;*/
    border-left: 2px solid #000;
}

div ul.rightbar_collectpoint{
    width: 80%;
    text-align: center;
    display: flex;
    list-style: none;
    margin-left: 20%;
}

div ul.rightbar_collectpoint li{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    padding-left: 0;
    opacity: 0.9;
}

div ul.rightbar_point{
    width: 80%;
    text-align: center;
    display: flex;
    list-style: none;
    margin-left: 20%;
}

div ul.rightbar_point li{
    width: 500px;
    font-size: 1.25rem;
    text-align: center;
    padding: 20px;
    padding-left: 0;
    word-break: break-all;
}

div.rightbar h2{
    margin-top: -70px;
    text-align: center;
    font-size: 2rem;
}
