@import url('https://fonts.googleapis.com/css2?family=Italiana&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
}

div.introduction{
    margin-top: 100px;
    width: 1180px;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}

div.sidebar{
    width: 500px;
    /*height: 1200vh;*/
    /*background-color: #ffff99;*/
    margin-right: 80px;
    margin-left: 30px;

}

div.sidebar .cart{
    width: 400px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

hr#side_line{
    width: 90%;
    margin-left: 0;
}

div.sidebar .cart h1 {
    font-family: "JetBrains Mono",monospace;
    display: flex;
    width: 150px;
    height: 30px;
    font-size: 2.5rem;
    font-weight: 300;
    margin-left: 70px;
    margin-right: 120px;
    align-items: center;
}
div.sidebar .cart p {

    display: flex;
    align-items: center;
}

/*side_cart*/

div.cart_inProduct{
    width: 700px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    margin: 70px 0 20px 40px;
}
div.cart_inProduct figure{

    max-width: 200px;
    max-height: 200px;

}
div.cart_inProduct figure img{
    /*width: 140px;*/
    /*height: 220px;*/
    object-fit: cover;

}

div.cart_inProduct ul{
    margin: 10px 0 0 30px;
    width: 400px;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

div.cart_inProduct ul li {
    display:flex;

}

a#side_product_detail{
    display: block;
    width: 150px;
    height: 2.5rem;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    border: 1px solid #000;
    border-radius: 50px;
    margin: 0 0 0 275px ;
    text-align: center;

}


p#total_price{
    display: inline-block;
    width: 130px;
    text-align: left;
    margin-left: 20px;
    font-size: 2rem;
    margin-top: 80px;
}

p#total_yen{
    text-align: right;
    font-size: 2rem;
    margin-right: 60px;
    margin-bottom: 100px;
}

