body {
    margin: 0;
    padding: 0;
}

/* ラジオボタン */

.radio{
    width: 400px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    margin:  5px auto 25px auto;
    display: flex;
    justify-content: center;
    background-color: #f2f2e6;
    border: 2px solid #605252;
    box-shadow: 2px 2px 0 #605252;
    transition:0.3s;

}
.radio:hover{
    background-color: #fff;
}

.radio_button{
    width: 300px;
}

.radioBtn{
    width: 15rem;
}
.radioBtn:hover{
    text-decoration: underline;
    text-shadow:#D0C7B2 1px 0 8px,#D0C7B2 1px 0 10px,#D0C7B2 1px 0 12px;
}

/*選択されたボタンの色設定*/
.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #000;
}

.left_radio_button{
    display: flex;
}

.radio_button_flex{
    width: 400px;
    display: flex;

}

.radio_button_low1{
    width: 200px;
    display: flex;
    flex-direction: column;
}

.radio_button_low2{
    width: 180px;

    display: flex;
    flex-direction: column;
}

/*　　*/

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked{
    color: #555555 !important;
}
#demo-simple-select{
    background-color: #fff;
    border: 2px solid #605252;
}
.Size_Situation{
    width: 400px;
    display: flex;
    margin:  0 auto;

}

.Sizebutton{
    width: 100px;
    text-align: center;
    margin-top: 120px;
    margin-right: 30px;
}
.Situation{
    width: 300px;
    text-align: center;
    margin-top: 120px;
}

.SendDays{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
}
.shippingArea{
    margin-top: 20%;
}
#s_name{
    margin-left: 10%;
    display: flex;
}
#outlined-basic{
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
}
#outlined-basic:hover{
    box-shadow: 0 0 0 #8e7560;
}
