.slide_master{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 70px;
    margin: 0 auto;
    background-color: #EBE8DB;
}

.slide-show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
.photo_list{
    display: flex;
    align-items: center;
}

.slide_text {
    display: block;
    align-items: center;
    width: 200px;
    text-align: center;
    margin: 20px;
    font-size: 0.5rem;
}
.slide {
    display: block;
    width: 800px;
    height: 450px;
    margin: 20px;
    background-size: cover;
    background-position: center;
    border: #fff 3px solid;
    border-radius: 10px;
}

.slide_next {
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
    background-size: cover;
    background-position: center;

}

.topbutton{
    padding: 0 10px;
    margin:0 30px;
    border-radius: 20px;
    font-size: 1.3rem;
}
