body {
    margin: 0;
    padding: 0;
}

.chatRight-{
    display: flex;
    justify-content: flex-end;
}
.chatRight{
    padding: 6px 14px;
    margin: 14px 8px 0 0;
    max-width: 60%;
    overflow-wrap: break-word;
    border-radius: 8px;
    font-size: 1.05rem;
    background-color: #fff;
}


.chatRightText{
    margin-top: 10px;

}

.chatLeft-{
    display: flex;
    justify-content: flex-start;
}
.chatLeft{
    padding: 6px 14px;
    margin: 14px 8px 0 10px;
    max-width: 60%;
    overflow-wrap: break-word;
    border-radius: 8px;
    font-size: 1.05rem;
    background-color: #eee;
}
