main{

    /*background-color: #aaaaaa;*/
}

div.inner{
    margin:auto;
    /*padding:50px 0 50px 0;*/
    width: 80%;
    background-color: #969696;
}



div.boxes{
    margin: 50px 50px 50px 50px;
    align-content: center;
    width: 250px;
    height: 250px;
}
p.s2tit{
    /*width: 200px;*/
    height: 1.5rem;
    font-size: 2rem;
    text-align: center;
    vertical-align: bottom;
    /*overflow: hidden;*/
}
.slide2{
    border: none;
    border-radius: 0;
    background-color: #9A9A9A;
    background-size: contain;
    /*padding: 20px;*/
}

div#S2under{
    width: 80%;
    border: black;
    border-style: solid none none none;
}

/*Swiper設定上書き*/
div.swiper-scrollbar-horizontal{
    background-image: linear-gradient(90deg, rgba(233, 233, 233, 1), rgba(120, 120, 120, 1));
}
.swiper-slide{
    width: 20px;
    transition: 0.5s;
}
.swiper-slide-prev{
    width: 20px;
}