body {
    margin: 0;
    padding: 0;
    background-color: #EBE8DB;
}

main{
    margin: 5% auto 10% auto;
    background-color: #fff;
    width: 95%;
    height: 90%;
    padding: 50px 0 50px 0;
}

div#wrap p {
    margin-top: 5%;
    font-size: 3rem;
    text-align: center;
}

div#logout{
    margin: 70px;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
}

div#logout a{
    padding: 10px 25px 10px 25px;
    border-radius: 15px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
}