div#newArrival_title{
    width: 60%;
    height: 100px;
    background-color: #fff4;
    margin: 40px 0 0 50px;
    box-shadow: 0 0 30px #fff8;
    border-style:  double none;
}
div#newArrival_title h2{
    font-family: "Italiana", sans-serif;
    font-weight: 500;
    font-size: 2.7rem;
    margin: 20px 0 0 50px;
    text-shadow: 5px 5px 5px #aaae;
    display: inline;
}
div#newArrival_title p{
    margin: 0 0 10px 70px;
    font-family: "zen+KakuGothic+Antique", system-ui;
    font-size: 1.1rem;
    font-weight: 400;

}

div.new_Prodct {
    position: relative;
    background: #D0C7B2;
    margin: 50px 50px 0 50px;
    padding-top: 5px;
    padding-bottom: 20px    ;
    margin-bottom: 145px;
}

div.flower_images {
    position: absolute;
    z-index: 0;
}


.flower_image {
    position: absolute;
}

#flower_img1 {
    top: 1482px;
    left: -27px;
    opacity: 0.9;
    transform: rotate(0.08turn);
}

#flower_img2 {
    top: 330px;
    left: -72px;
    opacity: 0.6;

}

#flower_img3 {
    top: 1484px;
    left: 1100px;
    display: block;

}


#flower_img4 {

    top:-52px;
    left: 1099px;
    opacity: 0.6;
    transform: rotate(0.75turn);
}


div.productlist {
    position: relative;
    z-index: 2;
    width: 870px;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 90px;
}


div.productlist div {
    padding: 20px;
}

div.productlist_toppage_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; /* 隙間を調整 */
}


div.product_img {
    width: 39%; /* 3つ並べるために幅を調整 */
    margin-left: 30px;
}

div.product_detail {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;

    background: #eee;
    box-shadow: #D9D9D9 8px 8px;

}

.productImage {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
    box-shadow: #D0C7B2 8px 8px;
    margin-bottom: 10px;
}

div.productlist div.product_detail p {
    padding: 5px 0;
    margin-left: 10px;
    font-size: 1.5rem;
}

#list {
    display: block;
}

hr#line {
    margin-bottom: 40px;
    width: 1323px;
    color: #f00;
}

div.Nextpage {
    width: 1450px;
}

div.Nextpagelist {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.Nextpagelist p {
    width: 300px;
    display: flex;
    justify-content: center;
}


.nextPageNum {
    margin-right: 40px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;

}
.nextPageNum:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px #fff;
}
