@import url('https://fonts.googleapis.com/css2?family=Italiana&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

body.top {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
}

div.top {
    background: #f3f3eb;
}

div.toppageVideo {
    position: absolute;
    z-index: 10;
    width: 820px;
    background: #8e7560;
    display: none;

}

div.toppageVideo video {
    max-width: 100%;
}

div.toppage {
    width: 700px;
    display: flex;
}

div.siteIntroduction {
    height: 800px;
    background: #D9D0C7;
    display: flex;
    margin-bottom: 100px;
}

div.introduction {
    width: 100%;
    height: 600px;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CFC8A9;
    text-align: center;
}

div.introductionMain {
    font-family: "Italiana", sans-serif;
    width: 1450px;
    color: #444;
}

div.introduction h1 {
    font-size: 4rem;
    padding-top: 80px;
}

div.introduction h3 {
    text-align: left;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top: 20px;
}

#smallFont {
    font-size: 1.5rem;
}

.smallFonth3 {
    font-size: 1rem;
}

div.introduction p {
    font-size: 2rem;
    padding-top: 80px;
}

div.toppageBottomPicture_Text {
    display: flex;
    align-items: center;
    height: 700px;
    background: #DFDCDC;
    margin-bottom: 300px;
}

div.toppageBottom {
    display: inline-block;
    align-items: center;
    height: 500px;
}

ul.toppageBottomUl {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 1%;
}


.toppageBottomImage {
    width: 750px !important;
    height: auto;
    align-items: center;
    margin: 0;
}


li.toppageBottomLi {
    width: 50%;
    height: 500px;
    text-align: center;
    align-items: center;
    background: #e5e5e5;
}

li.toppageBottomLi h2 {
    font-family: "Italiana", sans-serif;
    font-size: 5.2rem;
    font-weight: bold;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    text-align: center;
}


@media (max-width: 768px) {

    div.introduction {
        width: 100%;
        height: 880px;
        margin: auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #CFC8A9;
        text-align: center;
    }

    div.siteIntroduction {
        height: 1000px;
        background: #D9D0C7;
        display: flex;
    }



    div.introductionMain {
        font-family: "Italiana", sans-serif;
        width: 400px;
        color: #444;
    }

    div.siteIntroduction{
        margin-top: 50px;
    }

    div.introductionMain h1{
        margin-bottom: 20px;
    }
    div.introductionMain h3{
        width: 380px;
        margin: 0 auto;
        font-size: 1rem;
    }
}
